[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-ollama = "*"
langchainhub = "*"

[dev-packages]

[requires]
python_version = "3.10"
